.toc-container {
    /* position */
    position: fixed;
    width: 350px;
    top: 10px;
    left: 10px;
    min-height: 50px;
    z-index: 10000;

    /* appearance */
    border: solid 1px;
    font-size: 14px;
}

.toc-clickable {
    cursor: pointer;
}

.toc-draggable-handle {
    cursor: grab;
    min-height: 25px;
}

.toc-toolbar {
    position: absolute;
    top: 7px;
    right: 7px;
}

.toc-icon-container {
    padding: 5px;
}
.toc-icon {
    width: 10px;
}

.toc-headings {
    margin: 0 10px 25px 15px;
    overflow: hidden;
    max-height: 80vh;
}
.toc-headings:hover {
    margin-right: 3px;
}

.toc-headings:hover {
    overflow-y: auto;
}
.toc-headings::-webkit-scrollbar {
    width: 6px;
}

.toc-headings::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.toc-heading {
    margin: 4px 0;
    padding-left: 10px;
    border-left: 3px transparent solid;
}
.toc-heading:hover {
    text-decoration: underline;
    border-left: 3px solid;
}
.toc-focused {
    border-left: 3px solid;
    font-weight: bold;
}

.toc-h2 {
    margin-left: 24px;
}
.toc-h3 {
    margin-left: 48px;
}

/*  color ----------------------- */

.theme-light.toc-container {
    background-color: white;
    border-color: gray;
}
.theme-light .toc-heading {
    color: #656380;
}
.theme-light .toc-heading:hover {
    border-color: gray;
}
.theme-light .toc-focused {
    color: black;
    border-color: black;
}
.theme-light .toc-headings::-webkit-scrollbar-thumb {
    background-color: #dddcd6;
}
/* dark */
.theme-dark.toc-container {
    background-color: #202020;
    border-color: gray;
}
.theme-dark .toc-heading {
    color: #dddcd6;
}
.theme-dark .toc-heading:hover {
    border-color: gray;
}
.theme-dark .toc-focused {
    color: white;
    border-color: white;
}
.theme-dark .toc-headings::-webkit-scrollbar-thumb {
    background-color: #656380;
}
