#toc-container {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 10px;
    left: 10px;

    background-color: white;
    border: red solid 1px; /* debug */

    z-index: 10000;
}
#toc-container .clickable {
    cursor: pointer;
}
#toc-container .clickable:hover {
    text-decoration: underline;
}

#toc-container .h2 { margin-left: 24px; }
#toc-container .h3 { margin-left: 48px; }
