.toc-clickable {
  cursor: pointer;
}

.toc-hidden {
  display: none;
}

svg {
  --color: rgb(55 53 47 / 45%);

  .toc-theme-dark & {
    --color: rgb(255 255 255 / 48.2%);
  }

  fill: var(--color);
}
