.toc-header {
  --font-color: #656380;

  .toc-theme-dark & {
    --font-color: rgb(155 155 155);
  }

  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  color: var(--font-color);
}

.toc-title {
  margin-left: 5px;
}

.icon-fold {
  width: 16px;
}

.icon-fold-up {
  transform: rotateZ(180deg);
}

.icon-fold-right {
  transform: rotateZ(-90deg);
}
